<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><head>
<title>Search Portal - Article</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<script src="{{ url_for('static', filename='jquery.js') }}"></script>
</head>

<body>
	<div id="header">																																																																														
		<div style="text-align: center; padding: 20px 0px;" id="logo-wrapper">
  <a style="text-align: center;" href=" / " class="logo"><img style="" src="{{ url_for('static', filename='images/hooli.jpg') }}" alt="setalpm" height="100"></a>
</div>																																					                             
                                                                        
          <div class="inner_copy"><a href="http://tech.co/10-best-website-builder-platforms-for-beginners-2015-02/">http://tech.co/10-best-website-builder-platforms-for-beginners-2015-02</a></div>
		
	 <div style="text-align: center; width: 100%; border-width: medium; border-style: none solid solid; border-color: -moz-use-text-color grey grey; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-radius: 2px;" id="search-wrapper">
	
	<div style="border-bottom: medium solid gray; background-color: gray;" id="nav-tabs"><span style="margin: 0px 10px;">News</span><span style="margin: 0px 10px; border-radius: 2px 2px 0px 0px; border-width: medium; border-style: solid; border-color: gray gray white;">Results</span><span style="margin: 0px 10px;">About</span></div>
	  	<div style="padding-top: 20px;" id="search">
			<span>Search the web:</span> <input id="search-box" value="Enter Query Here" type="text"> <a href="#"><img id="search-button" src="{{ url_for('static', filename='images/search.jpg') }}" alt="" height="26" width="57"></a><br>
		</div>
		<div style="padding: 10px 0px 0px;" id="show-adv-options">
			<a href="#">Advanced Search Options</a>
		</div>
<div style="padding: 0px; display: none;" id="adv-options">
			<form action=""> 
			Search the following types: <input name="res-type" value="all" id="res-type" type="text"> <input value="Set" name="set-res-type" id="set-res-type" type="button"><br>
			Connect as AND: <input name="and-conn" value="" id="and-conn" type="text"> <br>
			Phrase Query: <input name="ph-conn" value="" id="ph-conn" type="text"> <br>
			NOT the following: <input name="not-conn" value="" id="not-conn" type="text"> <input value="Set" name="set-conn" id="set-conn" type="button"><br>
  
  No. of results per page : <input name="num-res" id="num-res" type="text"> <input value="Set" name="set-num-res" id="set-num-res" type="button">
</form>
	<a href="#" id="hide-adv-options"> Hide </a>
		</div>
	</div>
</div>
	
	<div id="footer" style = "bottom:0px">
		<ul>
			<li><a href="http://intranet.iitg.ernet.in./">Intranet</a>|</li>
			<li><a href="http://shilloi.iitg.ernet.in/~acad/intranet/index.php">Academics</a>|</li>
			<li><a href="https://intranet.iitg.ernet.in/moodle/login/index.php">Moodle</a>|</li>
			<li><a href="http://intranet.iitg.ernet.in./repo">Software Repository</a>|</li>
			<li><a href="http://local.iitg.ernet.in/aboutus">About IITG</a></li>
		</ul>
																																																													
	<script type="text/javascript">
		
		var num_res = 7;
		var and_conn = '';
		var ph_conn = '';
		var not_conn = '';		
		var type_id = 'all'	;
		var nav_page = 1;
		var search_query = '';

		function requestBuilder(){
			
			var encoded = encodeURIComponent(search_query);
			var requ = 'q=' + encoded + '&&nr=' + num_res + '&&tid=' + type_id + '&&p=' + nav_page + '&&cand=' + and_conn + '&&cph=' + ph_conn + '&&cnot=' + not_conn;
			return requ;
		}

		function toSearch() {

			nav_page = 1;
			search_query = $('#search-box').val();
			requ = requestBuilder();	
			document.location = '/search?' + requ;
		}

		$('.page-nav').click(function() {
			nav_page = $(this).attr('data-page');
			requ = requestBuilder();
			document.location = '/search?' + requ;
		});

		$('#dym').click(function(){
			nav_page = 1;
			search_query = $(this).attr('data-link');
			requ = requestBuilder();	
			document.location = '/search?' + requ;
		})

		$('#set-conn').click(function() {
			and_conn = encodeURIComponent($('#and-conn').val());
			ph_conn = encodeURIComponent($('#ph-conn').val());
			not_conn = encodeURIComponent($('#not-conn').val());
		});


		$('#set-res-type').click(function() {
			type_id = $('#res-type').val();
			alert('File type set to:' +  type_id);
		});

		$('#set-num-res').click(function() {
			num_res = $('#num-res').val();
			alert('No of results per page set to:' +  num_res);
		});

		$('#show-adv-options').click(function() {
			$('#adv-options').show();
		});

		$('#hide-adv-options').click(function() {
			$('#adv-options').hide();
		});


		$('#search-button').click(toSearch);

		$("#search-box").keydown(function(event){ 
        	if (event.which == 13)
        	{
        		toSearch();	
        	}
    	});


	</script>

</body></html>